body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #601c94;
    /* background-image: url('https://i.ibb.co/fv5byPq/465559906-1058200046054418-275529753136380831-n.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 50%; 
    width: 100%; 
    background-color: rgba(75, 12, 94, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box; 
}

h1 {
    color: #FFFDD0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #d8c8b1;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #d8c8b1;
    background-color: transparent !important;
    color: #d8c8b1;
    outline: none;
    text-align: center;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #654b77;
    color: #FFFDD0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7338a3;
}

#errorbox {
    color: rgb(209, 26, 26);
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }
}

.blur-background {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.37);
}

.center-block {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 35vh;
    margin-top: 40vh;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
}

@media (max-width: 600px) {
    .center-block {
        width: 90%;
    }
    input {
        width: 50%;
    }
}
